* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI',sans-serif;
}

body {
    background-color: #282828;
}

header,main,footer {
    width: 750px;
    margin: 0 auto;
}

.container {
    width: 662px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

header {
    height: 236px;
    background-color: #426d57;
}

nav {
    padding-top: 45px;
}

.information {
    display: flex;
}

.info {
    width: 150px;
    margin-left: 57px;
}

.info_p {
    font-size: 24px;
    color: white;
    line-height: 1.5;
}
.btn {
    margin-left: auto;
    margin-top: 32px;
    cursor: pointer;
}

span {
    display: block;
    width: 85px;
    height: 12px;
    background-color: white;
    margin-bottom: 16px;
    border-radius: 6px;
}

/*  MAIN */

.appointment {
    background-image: url(../img/png.png);
    background-repeat: no-repeat;
    height: 466px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    background-color: black;
    opacity: .3;
    position: absolute;
    width: 740px;
    height: 444px;
    right: 0;
    top: 0;
    z-index: 1;
}

.a_appointment {
    color: white;
    padding: 28px 46px;
    background-color: #cb9223;
    font-size: 18px;
    z-index: 2;
    position: absolute;
    text-decoration: none;
    bottom: 46px;
}

.a_visit {
    color: white;
    padding: 28px 46px;
    background-color: #cb9223;
    font-size: 18px;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto 50px;
}

.our {
    background-color: white;
}

.our_info {
    display: flex;
    align-items: center;
    margin-top: 74px;
}

.our_name {
    margin-left: 74px;
    width: 256px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 400;
    word-spacing: 6px;
}

.our_descr {
    font-size: 23px;
}

.description {
    margin-top: 60px;
    width: 630px;
    font-size: 23px;
    margin-bottom: 46px;
}

ul {
    margin-top: 20px;
    list-style: none;
    margin-bottom: 42px;
}

li::marker {
    content: "- ";
}

li {
    margin-left: 15px;
    font-size: 23px;
}

.row_column {
    flex-direction: column;
}

/*FOOTER*/

footer {
    background-color: #888888;
    height: 154px;
}

.footer_logo {
    width: 96px;
    height: 96px;
    margin-top: 28px;
}

.address {
    margin-left: auto;
    margin-top: 56px;
    text-align: end;
}

a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.phone {
    margin-bottom: 24px;
}

.a_address {
    margin-right: 36px;
}